@model FinalCapstone.Models.ClientPref

@{
    ViewBag.Title = "Details";
}


<div class="container">

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TherapistGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TherapistGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TherapistSpecialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TherapistSpecialty)
        </dd>
        @if (Model.AppointmentDate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppointmentDate)
            </dd>
        }
        @if (Model.AppointmentTime != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppointmentTime)
            </dd>
        }
        <div class="row">
            <div class="col-md-6" align="center">
                <h4>Problem Areas</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5 align="center">Upper Body</h5>
                <dt>
                    @Html.DisplayNameFor(model => model.HeadPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HeadPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NeckPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NeckPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpperBackPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpperBackPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LowBackPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LowBackPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShoulderPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShoulderPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ArmPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ArmPain)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.WristHandPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WristHandPain)
                </dd>
            </div>
            <div class="col-md-3">
                <h5 align="center">Lower Body</h5>

                <dt>
                    @Html.DisplayNameFor(model => model.HipPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HipPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ThighPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ThighPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KneeLegPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KneeLegPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AnkleFootPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AnkleFootPain)
                </dd>
            </div>
        </div>
    </dl>
</div>
@if (User.IsInRole("Therapist") == true)
{
    <p>
        @Html.ActionLink("Massage Completed", "Index", "Documents", new { id = Model.Id, complete = true }, "") |
        @Html.ActionLink("Cancel Appointment", "Delete", new { id = Model.Id})
    </p>
    if (ViewBag.IsCompleted != null)
    {
       { Html.RenderAction("Index", "Documents", new { id = Model.Id }); }
    }
}
@if (User.IsInRole("Client") == true)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Search Massage Therapist", "Index", "MassageTherapists", new { id = Model.Id }, "") |
        @Html.ActionLink("Back to List", "Index")
    </p>

}
