@model FinalCapstone.Models.ClientPref

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <div class="row">
        <h2>@Model.Client.FirstName's Profile</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Client.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Client.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TherapistGender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TherapistGender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TherapistSpecialty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TherapistSpecialty)
            </dd>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.HeadPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HeadPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NeckPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NeckPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpperBackPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpperBackPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LowBackPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LowBackPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShoulderPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShoulderPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ArmPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ArmPain)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.WristHandPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WristHandPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HipPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HipPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ThighPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ThighPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KneeLegPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KneeLegPain)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AnkleFootPain)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AnkleFootPain)
                </dd>
            </div>
            <div class="col-md-6"></div>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Search Massage Therapist", "Index", "MassageTherapists",new { id = Model.Id }, "") |
    @Html.ActionLink("Back to List", "Index")
</p>
