@model FinalCapstone.Models.ClientPrefViewModel

@{
    ViewBag.Title = "Edit";
}

<h2 style="margin-top:150px">@Model.Client.FirstName's Profile</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ClientPref.Id)
    @Html.HiddenFor(model => model.Client.Id)
    @Html.HiddenFor(model => model.ClientPref.ClientId)


    <div class="form-group">
        @Html.LabelFor(model => model.Client.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Client.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Client.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Client.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Client.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Client.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Client.Street, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Client.Street, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Client.Street, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Client.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Client.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Client.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Client.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Client.State, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Client.State, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Client.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Client.Zip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Client.Zip, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClientPref.TherapistGender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ClientPref.TherapistGender, new List<SelectListItem>{
           new SelectListItem{Text = "Male", Value = "Male" },
           new SelectListItem{Text = "Female", Value = "Female" } }, "--Choose Gender--",
            new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClientPref.TherapistGender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClientPref.TherapistSpecialty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ClientPref.TherapistSpecialty, new List<SelectListItem>{
           new SelectListItem{Text = "Swedish", Value = "Swedish" },
           new SelectListItem{Text = "Reflecology", Value = "Reflexology" },
           new SelectListItem{Text = "Prenatal", Value = "Prenatal" },
           new SelectListItem{Text = "Neuromuscular", Value = "Neuromuscular" },
           new SelectListItem{Text = "Craniosacral", Value = "Craniosacral" },
           new SelectListItem{Text = "Deep Tissue", Value = "Deep Tissue" } }, "--Choose Specialty--",
            new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClientPref.TherapistSpecialty, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Upper Body</h4>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.HeadPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.HeadPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.HeadPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.NeckPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.NeckPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.NeckPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.UpperBackPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.UpperBackPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.UpperBackPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.LowBackPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.LowBackPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.LowBackPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.ShoulderPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.ShoulderPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.ShoulderPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.ArmPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.ArmPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.ArmPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.WristHandPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.WristHandPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.WristHandPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Lower Body</h4>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.HipPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox" align="center">
                            @Html.EditorFor(model => model.ClientPref.HipPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.HipPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.ThighPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.ThighPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.ThighPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.KneeLegPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.KneeLegPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.KneeLegPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.ClientPref.AnkleFootPain, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" align="center">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClientPref.AnkleFootPain)
                            @Html.ValidationMessageFor(model => model.ClientPref.AnkleFootPain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Profile", "Details", "Clients", new { id = Model.Client.Id, complete = "", isTrue = "" },"")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
