@model FinalCapstone.Models.Document

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Documents", new { clientId = ViewBag.ClientId }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Subjective, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Subjective, new { @cols = "100", @rows = "6", @style = "width:100%;"  })
                @Html.ValidationMessageFor(model => model.Subjective, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Objective, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Objective, new {  @cols = "100", @rows = "6", @style = "width:100%;"  })
                @Html.ValidationMessageFor(model => model.Objective, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Assessment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Assessment, new {  @cols = "100", @rows = "6", @style = "width:100%;"  })
                @Html.ValidationMessageFor(model => model.Assessment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Plan, new {  @cols = "100", @rows = "6", @style = "width:100%;"  })
                @Html.ValidationMessageFor(model => model.Plan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $(".button").on("click", function () {
                $.post("@Url.Action("Create")").always(function () {
                    $(".target").load("/Documents/Index");
                });
            });
        });
    </script>
}
