@model FinalCapstone.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assessment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
