@model IEnumerable<FinalCapstone.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>SOAP Notes</h2>


<table class="table">
    <tr>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Client.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subjective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assessment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@if (User.IsInRole("Therapist") == true)
{
    if (ViewBag.IsComplete == false)
    {
        if (ViewBag.IsTrue == null)
        {
            <p>
                @{ Html.RenderAction("Create", new { id = ViewBag.ClientId });}
            </p>
        }
        if (ViewBag.IsTrue == true)
        {
            <p>
                @{Html.RenderAction("Edit", new { id = ViewBag.MtId });}
            </p>
        }
    }


}
